{
  "snapraid_bin": "/usr/bin/snapraid",
  "snapraid_config_file": "/etc/snapraid.conf",
  "mail_bin": "/usr/bin/mailx",
  "from_email": "from@email.com",
  "to_email": "to@email.com",
  "log_dir": "/var/log/snapper",
  "log_count": 14,
  "added_threshold": 500,
  "removed_threshold": 500,
  "scrub_percent": 3,
  "scrub_age": 30,
  "scrub_new": true,
  "prehash": true,
  "discord_webhook_url": null
}